@import "vendor/normalize/import-now";

$numberColors: (
1: #006cff,
2: #34e654,
3: #ff0000,
4: #f7f709,
5: #cf0000,
6: #00ffc1,
7: #333333,
8: #b319dd
);

@keyframes explosion {
    @for $i from 0 through 15 {
        #{$i * 100% / 16} { background-position: #{($i % 3) * 100% / 3} #{floor($i / 3) * 100% / 3}; }
    }
}

@media screen {

    main {
        &::before, &::after {
            content: "";
            display: table;
        }
    }

    #langSelect {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: block;
        margin: 0;
        padding: 0.5rem 1.75rem 0.5rem 0.5rem;
        border: 1px solid #f0f0f0;
        border-radius: 0.5rem;

        &:hover {
            border-color: #ccc;
        }

        #langsExpanded {
            display: none;
        }
        [for=langsExpanded] {
            position: absolute;
            top: 0.66rem;
            right: 0.5rem;
            width: 0;
            height: 0;
            border: {
                left: 0.375rem solid transparent;
                right: 0.375rem solid transparent;
                top: 0.5rem solid #000;
            }
            cursor: pointer;
        }
        #langsExpanded:checked + [for=langsExpanded] {
            border: {
                top: none;
                bottom: 0.5rem solid #000;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            [data-lang] {
                display: none;
                list-style: none;
                width: 1.5rem;
                padding-bottom: 66%;
                height: 0;
                margin-top: 0.5rem;
                cursor: pointer;

                &:first-of-type {
                    margin-top: 0;
                    display: block;
                }
            }

            [data-lang=de] {
                background: linear-gradient(to bottom, #000 0%, #000 (100% / 3), #f00 (100% / 3), #f00 (100% * 2 / 3), #f7f75e (100% * 2 / 3), #f7f75e 100%);
            }
            [data-lang=en] {
                background-attachment: scroll;
                background-clip: border-box;
                background-color: transparent;
                background-image: linear-gradient(26.6deg, #00247d 30%, transparent 29%, transparent 34%, #cf142b 34%, #cf142b 44%, transparent 44%, transparent 59%, #00247d 59%), linear-gradient(26.6deg, #00247d 40%, transparent 41%, transparent 56%, #cf142b 56%, #cf142b 66%, transparent 66%, transparent 71%, #00247d 71%), linear-gradient(-26.6deg, #00247d 40%, transparent 41%, transparent 46%, #cf142b 46%, #cf142b 56%, transparent 56%, transparent 71%, #00247d 71%), linear-gradient(-26.6deg, #00247d 29%, transparent 29%, transparent 44%, #cf142b 44%, #cf142b 54%, transparent 54%, transparent 59%, #00247d 59%), linear-gradient(to right, transparent 45%, #cf142b 45%, #cf142b 55%, transparent 55%), linear-gradient(to bottom, transparent 40%, #cf142b 40%, #cf142b 60%, transparent 60%);
                background-origin: padding-box;
                background-position: 0 0, 100% 100%, 0 100%, 100% 0, 0 0;
                background-repeat: no-repeat;
                background-size: 41.6% 33.3%, 41.6% 33.3%, 41.6% 33.3%, 41.6% 33.3%, 100% auto, 100% auto;
            }
        }

        #langsExpanded:checked ~ ul [data-lang] {
            display: block;
        }
    }

    #minesweeper {
        position: relative;
        background: #ccc none repeat scroll 0 0;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem auto 0;

        &[data-scaleby=width] {
            width: calc(100vw - 4rem);
        }

        .info {
            display: block;
            text-align: center;
            margin-bottom: 0.5rem;
            height: 6.25rem;
            overflow: hidden;

            .elem {
                display: inline-block;
                text-align: left;
                margin: 0 0.5rem;

                .label {
                    margin: 0;
                    font-size: 1rem;
                    line-height: 1;
                }
                .numbers {
                    margin: 0.25rem 0 0.5rem;
                    font-size: 4rem;
                    font-family: 'PT Mono', monospace;
                    line-height: 1;
                    color: #a00;
                    background: #000;
                    border-radius: 0.25rem;
                }
            }
        }

        .field {
            display: block;
            border: 1px solid #000;
            border-radius: 0.1875rem;
            width: 100%;

            .row {
                line-height: 0;
                margin: 0;

                .cell {
                    position: relative;
                    display: inline-block;
                    height: 0;
                    border: 1px inset #000;
                    background: #a8a8a8;

                    &[data-concealed] {
                        border: 1px outset #000;
                        background: #777 radial-gradient(circle at 0 0, #F0F0F0 0%, rgba(#F0F0F0, 0) 75%);

                        &:hover, &:focus {
                            background-image: radial-gradient(circle at 0 0, #F0F0F0 0%, rgba(#F0F0F0, 0) 100%);
                        }
                    }

                    &[data-icon=number] {
                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-family: 'PT Mono', monospace;
                            font-weight: bold;
                            height: 100%;
                            line-height: 1;
                            cursor: default;
                        }

                        @for $i from 1 through 9 {
                            &[data-number="#{$i}"]::before {
                                content: '#{$i}';
                                color: map-get($numberColors, $i);
                            }
                        }
                    }

                    &[data-icon=flag] {
                        &::before {
                            display: block;
                            content: '';
                            position: absolute;
                            left: 12.5%;
                            top: 12.5%;
                            width: 75%;
                            height: 75%;
                            background: radial-gradient(circle at 50% 175%, #000 0%, #000 50%, rgba(#000,0) 50%), linear-gradient(to right, rgba(#000,0) 45%, #000 45%, #000 55%, rgba(#000,0) 55%);
                        }
                        &::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 12.5%;
                            right: 52.5%;
                            background: #ff0000;
                            width: 30%;
                            height: 25%;
                            transform: skewY(-15deg);
                            transform-origin: 100% 0 0;
                        }
                    }

                    &[data-icon=mine] {
                        &::before {
                            display: block;
                            position: absolute;
                            left: 12.5%;
                            top: 12.5%;
                            width: 75%;
                            height: 75%;
                            content: '';
                            background: radial-gradient(circle at 40% 40%, #FFF 0%, rgba(#FFF,0) 25%), radial-gradient(circle at 50% 50%, #000 0%, #000 50%, rgba(#000,0) 50%), linear-gradient(to right, rgba(#000,0) 45%, #000 45%, #000 55%, rgba(#000,0) 55%), linear-gradient(to bottom, rgba(#000,0) 45%, #000 45%, #000 55%, rgba(#000,0) 55%), linear-gradient(to bottom right, rgba(#000,0) 47.5%, #000 47.5%, #000 52.5%, rgba(#000,0) 52.5%), linear-gradient(to top right, rgba(#000,0) 47.5%, #000 47.5%, #000 52.5%, rgba(#000,0) 52.5%);
                            border-radius: 50%;
                        }

                        &[data-explode] {
                            &::after {
                                position: absolute;
                                display: block;
                                width: 150%;
                                height: 150%;
                                content: '';
                                top: -25%;
                                left: -25%;
                                background: url(../img/explosion.png) no-repeat 100% 100% / 400% 400%;
                                animation-name: explosion;
                                animation-duration: 750ms;
                                animation-timing-function: steps(1,end);
                            }
                        }
                    }
                }
            }
        }

        .newgameButton {
            display: block;
            margin: auto;
            padding: 0;
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.5rem;
            cursor: pointer;

            &[data-status=playing]::before {
                content: '\1F642';
            }
            &[data-status=win]::before {
                content: '\1F60E';
            }
            &[data-status=lose]::before {
                content: '\1F623';
            }
        }
    }

    .modalContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#333, 0.25);

        .modal {
            width: 25%;
            margin: 20vh auto 0;
            background: #fff;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem 1rem;

            H2 {
                font-size: 2.125rem;
            }

            BUTTON {
                display: block;
                font-size: 1.25rem;
                margin: 0;
                padding: 0.25rem;
                border-radius: 0.25rem;
                text-align: center;
                background: #a00;
                color: #f0f0f0;
                cursor: pointer;
            }

            .buttonRow > BUTTON {
                display: inline-block;
                margin-right: 1rem;
                width: calc((100% - 2rem) / 3);

                &:last-of-type {
                    margin-right: 0;
                }
            }

            FORM {
                display: block;
                margin-top: 1.5rem;

                LABEL {
                    display: inline-block;
                    margin-right: 1rem;
                    width: calc((100% - 2rem) / 3 - 0.5rem);
                    padding: 0.25rem;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    INPUT {
                        border: 1px solid #000;
                        display: block;
                        padding: 0.125rem;
                        width: calc(100% - 0.25rem - 2px);

                        &:focus {
                            border-color: #777;
                            transition: border-color 200ms;
                        }
                    }
                }

                BUTTON {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}